{% extends "base.twig" %}

{% block title %}Join | PuzzleMania{% endblock %}

{% block content %}
<section>
    <form class="row">
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
    </form>
    <table
</section>
{% endblock %}
