{% extends "base.twig" %}

{% block title %}Riddles | PuzzleMania{% endblock %}

{% block content %}
    <h1>Riddles:</h1>
    <ul>
        {% for riddle in riddles %}
            <li>{{ riddle.question }} - {{ riddle.answer }}</li>
        {% endfor %}
    </ul>
{% endblock %}
